{% extends "pennywise/layout.html" %}

{% block body %}

    <div class="forms">
        <h2>Accounts</h2>
        {% if accounts %}
            <form action="{% url 'accounts' %}" method="post">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <select class="form-control" name="account" id="account" onchange="this.form.submit()" required>
                        <option value="none" selected disabled>Select account</option>
                        {% for account in accounts %}
                            <option value="{{ account.id }}">{{ account.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="account">Account</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" autocomplete="off" id="due_date" name="due_date" type="month" value="{{ today|date:"Y-m" }}" required>
                    <label for="due_date">Due date</label>
                </div>
            </form>
        {% else %}
            <p>Create an account in the settings menu.</p>
        {% endif %}
    </div>

{% endblock %}