{% extends "network/layout.html" %}

{% block body %}
    <h2>All Posts</h2>
    {% if user.is_authenticated %}
        <div class="card">
            <h4>New Post</h4>
            <form action="{% url 'new_post' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" name="content" required></textarea>
                    <input type="hidden" name="id" value=0>
                </div>
                <input class="btn btn-primary" type="submit" value="Post">
            </form>
        </div>
    {% endif %}

    {% for post in page.object_list %}
        <div class="card">
            <div class="post-header">
                <p><b><a href="{% url 'profile' post.user.username %}" style="color: black;">{{ post.user }}</a></b> <small>on {{ post.date }}</small></p>
                &nbsp;&nbsp;
                {% if post.user == user %}
                    <p onclick="edit('{{post.id}}', csrfToken = '{{ csrf_token }}')">[Edit]</p>
                {% endif %}
            </div>
            <div id="{{ post.id }}">
                <p class="content">{{ post.content }}</p>
                <p class="likes"><small>Likes: {{ post.likes.count }}</small></p>
            </div>
            {% if user.is_authenticated %}
                {% if user in post.likers  %}
                    <p class="like-button" onclick="update_likes('{{post.id}}', this)">❤️</p>
                {% else %}
                    <p class="like-button" onclick="update_likes('{{post.id}}', this)">🩶</p>
                {% endif %}
            {% endif %}
        </div>
    {% empty %}
        No posts yet.
    {% endfor %}

    <nav class="pagination-menu">
        <ul class="pagination">
            {% if page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if max_page > 1 %}
                {% for n in iterator %}
                    <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                {% endfor %}
            {% endif %}
            {% if page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    
{% endblock %}