{% extends "network/layout.html" %}

{% block body %}
    <h2>{{ profile_user }}</h2>
    {% if profile_user != logged_user %}
        <form action="{% url 'profile' username=profile_user.username %}" method="post">
            {% csrf_token %}
            {% if follows %}
                <input type="submit" name="follow" class="btn btn-primary btn-sm" value="Unfollow">
            {% else %}
                <input type="submit" name="follow" class="btn btn-primary btn-sm" value="Follow">
            {% endif %}
        </form>
    {% endif %}
    <br>
    <h5>Followers: {{ profile_user.followers.count }} &nbsp;&nbsp;&nbsp; Following: {{ profile_user.follows.count }}</h5>
    {% for post in posts %}
        <div class="card">
            <p><b>{{ post.user }}</b> <small>on {{ post.date }}</small></p>
            <p>{{ post.content }}</p>
            <p class="likes"><small>Likes: {{ post.likes }}</small></p>
        </div>    
    {% empty %}
        <div class="card">
            No posts yet.
        </div>
    {% endfor %}
{% endblock %}