{% extends "network/layout.html" %}

{% block body %}
    <h2>{{ profile_user }}</h2>
    {% if user.is_authenticated and profile_user != logged_user %}
        <form action="{% url 'profile' username=profile_user.username %}" method="post">
            {% csrf_token %}
            {% if follows %}
                <input type="submit" name="follow" class="btn btn-primary btn-sm" value="Unfollow">
            {% else %}
                <input type="submit" name="follow" class="btn btn-primary btn-sm" value="Follow">
            {% endif %}
        </form>
    {% endif %}
    <br>
    <h5>Followers: {{ profile_user.followers.count }} &nbsp;&nbsp;&nbsp; Following: {{ profile_user.follows.count }}</h5>
    {% for post in posts %}
        <div class="card">
            <div class="post-header">
            <p><b>{{ post.user }}</b> <small>on {{ post.date }}</small></p>
            &nbsp;&nbsp;
            {% if post.user == user %}
                <p class="edit" onclick="edit('{{post.id}}', csrfToken = '{{ csrf_token }}')">[Edit]</p>
            {% endif %}
            </div>
            <div id="{{ post.id }}">
                <p class="content">{{ post.content }}</p>
                <p class="likes"><small>Likes: {{ post.likes.count }}</small></p>
            </div>
            {% if user.is_authenticated %}
                {% if user in post.likers  %}
                    <p class="like-button" onclick="update_likes('{{post.id}}', this)">❤️</p>
                {% else %}
                    <p class="like-button" onclick="update_likes('{{post.id}}', this)">🩶</p>
                {% endif %}
            {% endif %}
        </div>    
    {% empty %}
        <div class="card">
            No posts yet.
        </div>
    {% endfor %}
{% endblock %}